.home {
  margin-top: 15px;
}

.details {
  position: relative;
  display: flex;
  margin-bottom: 15px;
}

.details .title {
  display: flex;
}

.title .ant-select {
  margin-left: 30px;
}

.details .title span {
  font-size: 22px;
}

.details button {
  margin-left: auto;
}

.ant-select-arrow i {
  font-size: 13px;
}